  <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->


    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let data"> {{data.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="first_name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let data"> {{data.first_name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="last_name">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let data"> {{data.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef sticky> Acciones </th>
      <td mat-cell *matCellDef="let data" class="actions-cell">
        <div class="actions">
          <button mat-flat-button color="primary" (click)="onEdit(data)">Editar</button>
          <button mat-flat-button color="warn" (click)="onDelete(data)">Eliminar</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
